* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 20%;
  background-color: #f0f0f0;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.content {
  width: 55%;
  display: flex;
  flex-direction: column;
}

article {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 2%;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-profile-image {
  width: 5%;
}

.post-author {
  margin-left: 1%;
  font-size: 2vw;
}

.post-date {
  margin-left: 60%;
  font-size: 1.5vw;
}

.post-content-picture {
  width: 100%;
}

.post-h2 {
  font-size: 2vw;
}

.post-emoji {
  width: 4%;
}

footer {
    width: 100%;
    background-color: #777777;
    margin-top: 1rem;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
  font-size: 25px;
  font-weight: 400;
}
